{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <title>メイン画面</title>
    <meta name=”description” content=”技術英検の英単語練習”>
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body bgcolor="#090909">
    <div class="imgt">
        <div class="btn_space">
            <span class="title_font">技術英検単語ゲーム</span>
        </div>
        <div class="btn_space">
            <a href="{% url 'webapp:start_game'%}" class="btn_01">英語モード</a>
        </div>
        <div class="game_btn_space">
            <a href="{% url 'webapp:start_eng_game'%}" class="btn_01">日本語モード</a>
        </div>
        <div class="btn_space">
            <a href="{% url 'webapp:setting_page'%}" class="btn_01">設定</a>
        </div>

    </div>
</body>

</html>


